.aboutWrap {
  display: flex;
  width: 100%;
  height: 70vh;
  margin-bottom: 100px;
  margin-top: 50px;
}

.aboutLeft {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 20px;

  img {
    width: 50%;
    height: 50%;
  }
  p {
    text-align: left;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
  }
}
.aboutRight {
  margin-top: 70px;
  margin-left: 80px;
  .profile {
    h1 {
      font-size: 60px;
      padding-bottom: 15px;
    }
    p {
      line-height: 1.5;
      font-size: 24px;
    }
  }
  .Education {
    h1 {
      padding-top: 20px;
      padding-bottom: 15px;
      font-size: 60px;
    }
    p {
      line-height: 1.5;
      font-size: 24px;
    }
  }
}

@media (max-width: 770px) {
  .aboutWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 55vh;
  }
  .aboutLeft {
    margin-right: 0;
  }
  .aboutRight {
    margin-left: 10px;
  }
}
