.navbar {
  background-color: #eee;
  .navWrap {
    .navItem {
      margin: 0 10vw;
      display: flex;
      font-weight: bold;
      &:hover {
        color: red;
      }
    }
  }
}
@media (max-width: 769px) {
}
