.cardWrap {
    border: 2px solid rgba(147, 147, 147, 0.615);
    margin-bottom: 100px;
    background-color: rgba(225, 238, 255, 0.781);
    display: flex;
}

.cardName {
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 78, 168);
}
.cardExplain {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.cardRole {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    padding: 15px 0;
    p {
        margin-right: 5px;
        padding: 10px 0px;
    }
    div {
        background-color: #bbbbbb4a;
        border-radius: 5px;
        padding: 10px 15px;
    }
}
.cardStack {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    p {
        margin-right: 5px;
        padding: 10px 0px;
    }
    div {
        background-color: #bbbbbb4a;
        color: rgb(244, 129, 117);
        padding: 10px 15px;
        border-radius: 5px;
    }
}
.resWebWrap {
    margin: 15px;
    .cardRes {
        margin-right: 10px;
        color: rgb(136, 136, 136);
        padding: 15px 0;
    }
    .webLink {
        color: #000;
        &:hover {
            color: #fff;
        }
    }
}
