.cardWrap {
    border: 2px solid rgba(147, 147, 147, 0.615);
    margin-bottom: 100px;
    background-color: rgba(225, 238, 255, 0.419);
}

.cardName {
    font-size: 56px;
    font-weight: bold;
    color: rgb(0, 78, 168);
}
.cardHash {
    color: rgba(255, 0, 0, 0.541);
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0 5px 0;
}
.cardText {
    font-size: 14px;
    padding-bottom: 30px;
    color: rgba(10, 25, 233, 0.726);
    font-weight: bold;
}
.cardRes {
    color: rgb(136, 136, 136);
    padding: 15px 0;
}
.webLink {
    color: #000;
    &:hover {
        color: #fff;
    }
}
