@font-face {
    font-family: "NanumSquareNeo-Variable";
    src: url("./fonts/NanumSquareNeo-Variable.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ansungtangmyun-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ImcreSoojin";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "NanumSquareNeo-Variable";
}
h1,
span {
    font-family: "Ansungtangmyun-Bold";
}
