@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("./fonts/NanumSquareNeo-Variable.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumSquareNeo-Variable";
}
